# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Project files
/misc.xml
/modules.xml
/target-kt.iml
/gradle.xml
/jarRepositories.xml
/compiler.xml
/kotlinc.xml
/.name
