# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Project artifact configurations
/artifacts/
# Project files
/.name
/compiler.xml
/misc.xml
/modules.xml
/gradle.xml
/jarRepositories.xml
/kotlinc.xml
/target-kt.iml
